/Users/a12345/PycharmProjects/bot_CheatMeal/.env
/venv/
aiobot_cheatmeal/bot/settings/config.py
.idea/
*.cpython-311.pyc
*.json
*.xml
*.log
aiobot_cheatmeal/iiko/plan.txt
.gitignore
bot_CheatMeal/.env
*.env